@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quick map reset to ensure Leaflet renders beautifully inside Tailwind layouts */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-pane img {
  max-width: none;
  max-height: none;
}
